@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  width: 600px;
}

a {
  text-decoration: none;
  color: #424242;
}

li {
  list-style-type: none;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  flex-basis: auto;
  display: flex;
  align-self: flex-start;
  margin: 0;
  width: 100%;
  justify-content: space-between;
}

.content {
  display: flex;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.footer {
  background-color: #eee;
  display: flex;
  align-self: flex-end;
  margin: 0;
  width: 100%;
  justify-content: space-between;
}

.left-links {
  margin-left: 15px;
  padding: 0;
  display: flex;
  gap: 15px;
}

.right-links {
  margin-right: 15px;
  padding: 0;
  display: flex;
  gap: 15px;
}

